.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #DDD8C4;
  }

  .scrn1 {
    max-height: 500px;
    max-width: 500px;
    height: 200px;
    width: 200px;
  }